.textW {
  /*specifies the appearance of the background*/
  background-image: "./Media/pinRed.png";
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: 25px auto;
  background-color: #32B3EC;
  padding: 5px;
  padding-bottom: -10px;
  resize-to-content: true;

  /*specifies the appearance of the text*/
  stroke-width: 100px;
  stroke: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 100px;
  wrap-mode: none;
  fixed: true;
  
}


#w1 {
  background-position: 70 1, center top;
  color: #ED8500;

  stroke-width: 5px;
  stroke: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 100px
  
}

#w2 {
  background-position: 75 2, center top;
  color: #B1D500;

  stroke-width: 5px;
  stroke: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 100px;
}

#sensorText {
  background-position: 70 1, center top;
  color: #ED8500;

  stroke-width: 5px;
  stroke: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 70px
  
}


#bowlSensor {
  text:"Place Bowl Here";

  location: 1000px 500px;
  background-color: transparent;
  padding: 5px;
  padding-bottom: -10px;
  resize-to-content: true;

  stroke-width: 5px;
  stroke: black;
  
  font-family: sans-serif;
  font-weight: bold;
  font-size: 50px;
  
  wrap-mode: none;
  fixed: false;
}

#measuringSensor {
  text:"Place Measuring Cup Here";

  location: 1000px 500px;
  background-color: transparent;
  padding: 5px;
  padding-bottom: -10px;
  resize-to-content: true;

  stroke-width: 5px;
  stroke: black;
  
  font-family: sans-serif;
  font-weight: bold;
  font-size: 37px;
  
  wrap-mode: none;
  fixed: false;
}

.VideoWidget {
  background-image: "./Media/pinGreen.png";
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: 25px auto;
  /*background-position: center top;
  background-color: white;
  padding: 15px;
  padding-top: 20px;*/

  stroke-width: 2px;
  stroke: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  wrap-mode: none;
}

.ImageW {
  background-image: "./Media/pinBlue.png";
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: 25px auto;
  background-position: center top;
  background-color: white;
  padding: 15px;
  padding-top: 20px;

  /*font-size: 20px;*/
}

.BookWidget {
  background-image: "./Media/pinYellow.png";
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: 25px auto;
  background-position: center top;
  background-color: white;
  padding: 15px;
  padding-top: 20px;
  width: 250px;
}

.ItemFlowWidget {
  background-image: "./Media/pinOrange.png";
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: 25px auto;
  background-position: center top;
  background-color: white;
  padding: 10px;
  padding-top: 5px;
  font-size: 20px; 
}